<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>

  <connectionStrings>
    <add name="MCI_ITASCA_NET" connectionString="Data Source=MCI_DEVL;User ID=MCI_ITASCA_NET;Password=mcinet;" providerName="ORACLE.ODP.NET.Client" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="MCI_ITASCA_NET">
    <providerMappings>
      <add databaseType="CommonFramework.DataAccess.ODP11g.OracleDatabaseODP, CommonFramework.DataAccess.ODP11g" name="ORACLE.ODP.NET.Client" />
    </providerMappings>
  </dataConfiguration>

  <cachingConfiguration defaultCacheManager="ReferenceTables Cache Manager">
    <cacheManagers>
      <add name="ReferenceTables Cache Manager"
           expirationPollFrequencyInSeconds="3600" 
           maximumElementsInCacheBeforeScavenging="1000" 
           numberToRemoveWhenScavenging="10" 
           backingStoreName="Null Storage"
           type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" 
           type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" 
           name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

</configuration>