<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commonframeworkConfiguration" type="CommonFramework.Core.EL.Configuration.CommonFrameworkSettings,CommonFramework.Core" />
  </configSections>
  <commonframeworkConfiguration>
    <frameworkSettings>
      <DAOSettings>
        <DAOSetting daoName="DAO" daoType="CommonFramework.Persistence.EL.DataAccessEL,CommonFramework.Persistence" />
      </DAOSettings>
      <CacheSettings>
        <CacheSetting cacheName="Cache" cacheType="CommonFramework.Core.EL.CacheManagerEL,CommonFramework.Core" />
      </CacheSettings>
      <LoggingSettings>
        <LoggingSetting loggingName="Logging" loggingType="CommonFramework.Core.EL.LogManagerEL,CommonFramework.Core" />
      </LoggingSettings>
      <ExceptionSettings>
        <ExceptionSetting exceptionName="Exception" exceptionType="CommonFramework.Core.EL.ExceptionManagerEL,CommonFramework.Core" />
      </ExceptionSettings>
    </frameworkSettings>
  </commonframeworkConfiguration>
</configuration>
