<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frameworkConfiguration" type="Framework.Configuration.FrameworkSettings,Framework.Configuration"/>
  </configSections>

  <frameworkConfiguration>
    <referenceTableConfiguration defaultReferenceTableInstance="MCI_ITASCA_NET"  defaultExpirationPolicyInstance="E1" defaultScavengingPolicyInstance="S1" >
      <instances>
        <instance name="MCI_ITASCA_NET" referenceId="MCI" enableCache="true" />
        <instance name="COMPASS_ITASCA_NET" referenceId="COMPASS" enableCache="true" />
      </instances>
      <!--The different expiration policies will be define here and assigned a name. The user can put values that he wants. -->
      <expirationPolicyData>
        <!--absolute, sliding, filedependency, extendedformat, neverexpired -->
        <expirationPolicy name="E1" type="absolute" value="10"/>
        <expirationPolicy name="E2" type="sliding" value="5"/>
        <expirationPolicy name="E3" type="sliding" value="6"/>
        <expirationPolicy name="E4" type="filedependency" value="6"/>
      </expirationPolicyData>
      <!--The different scavenging priorities will be mentioned here and named. The user can put the values that he wants.-->
      <scavengingPolicyData>
        <scavengingPolicy name="S1" value="Normal" />
        <scavengingPolicy name="S2" value="High" />
      </scavengingPolicyData>
      
      <referenceIds>
        <referenceId name="MCI">
            <package name="PKG_REFTABLE_RT" />
            <schemaPrefix name="" />
        </referenceId>      
        <referenceId name="COMPASS">
            <package name="PKG_REFTABLE_RT" />
            <schemaPrefix name="" />
        </referenceId>
      </referenceIds>
    </referenceTableConfiguration>

    <errorManagerConfiguration defaultErrorManagerInstance="MCI_ITASCA_NET" >
      <instances>
        <instance name="MCI_ITASCA_NET" errorId="MCI" />
        <instance name="COMPASS_ITASCA_NET" errorId="COMPASS" />
      </instances>
      <errorIds>
        <errorId name="MCI" defaultReferenceTableKey="SWTMSG" defaultDisplayField="DisplayValue" defaultLanguage="EN" defaultPlaceHolder="~">
          <package name="PKG_REFTABLE_RT" />
          <schemaPrefix name="" />
        </errorId>
        <errorId name="COMPASS" defaultReferenceTableKey="SWTMSG" defaultDisplayField="DisplayValue" defaultLanguage="EN" defaultPlaceHolder="~">
          <package name="PKG_REFTABLE_RT" />
          <schemaPrefix name="" />
        </errorId>
      </errorIds>
    </errorManagerConfiguration>

    <helpManagerConfiguration defaultHelpManagerInstance="COMPASS_ITASCA_NET" defaultScavengingPolicyInstance="S1" defaultExpirationPolicyInstance="E1">
      <instances>
        <instance name="COMPASS_ITASCA_NET" helpId="COMPASS" enableMappingsCache="true" />
      </instances>
      <expirationPolicyData>
        <expirationPolicy name="E1" type="absolute" value="1"/>
      </expirationPolicyData>
      <scavengingPolicyData>
        <scavengingPolicy name="S1" value="High" />
      </scavengingPolicyData>
      <helpIds>
        <helpId name="COMPASS" defaultLanguage="HELP_IN_ENGLISH" screenTitleColumnName="SCREENTITLE" screenPageColumnName="SCREENPAGENAME" fieldRefTableKey="FIELD_HELP" screenRefTableKey="SCREEN_HELP" >
          <mappings>
            <mapping name="SCREENFIELD" sca="S2" >
              <exps>
                <exp name="E1" />
              </exps>
            </mapping>
          </mappings>
          <package name="PKG_HELP_RT" />
          <schemaPrefix name="COMPASS_ITASCA_NET" />
        </helpId>
      </helpIds>
    </helpManagerConfiguration>

  </frameworkConfiguration>
</configuration>