<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
        <!-- the config sections for navigational workflow -->
       </configSections>    
    <unity>
        <typeAliases>
            <!-- type alias for registered type and requested/target type mapping for Employee Repository -->
            <typeAlias alias="EmployeeRepositoryInterface" type="Framework.Data.Repository.IRepository`1[[ChildSupport.Domain.Employee, ChildSupport.Domain]], Framework.Data"/>
            <typeAlias alias="EmployeeRepositoryConcrete" type="Framework.Data.Repository.EF.EntityRepository`2[[ChildSupport.Domain.Employee, ChildSupport.Domain],[ChildSupport.DataModel.AdventureWorks2008R2Entities, ChildSupport.DataModel]], Framework.Data"/>
            <typeAlias alias="PersonRepositoryInterface" type="Framework.Data.Repository.IRepository`1[[ChildSupport.Domain.Person, ChildSupport.Domain]], Framework.Data"/>
            <typeAlias alias="PersonRepositoryConcrete" type="Framework.Data.Repository.EF.EntityRepository`2[[ChildSupport.Domain.Person, ChildSupport.Domain],[ChildSupport.DataModel.AdventureWorks2008R2Entities, ChildSupport.DataModel]], Framework.Data"/>
            <!-- type alias for registered type and requested/target type mapping for Scope Lifetime Manager-->
            <!--<typeAlias alias="LifetimeManagerInterface" type="Framework.Data.Repository.ObjectSourceManager`1[[System.Data.Objects.ObjectContext, System.Data.Entity]], Framework.Data"/>
            <typeAlias alias="LifetimeManagerConcrete" type="Framework.Data.Repository.EF.ScopeObjectSourceManager`1[[System.Data.Objects.ObjectContext, System.Data.Entity]], Framework.Data"/>-->
            <!-- type alias for registered type and requested/target type mapping for ObjectContext-->            
            <!-- tpe alias for registered type and requested/target type mapping for UnitOfWorkFactory-->
            <typeAlias alias="UnitOfWorkFactoryInterface" type="Framework.Data.Repository.IUnitOfWorkFactory, Framework.Data"/>
            <typeAlias alias="UnitOfWorkFactoryConcrete" type="Framework.Data.Repository.EF.UnitOfWorkFactory, Framework.Data"/>
            <typeAlias alias="ObjectSourceManagerFactoryInterface" type="Framework.Data.Repository.IObjectSourceManagerFactory, Framework.Data"/>
            <typeAlias alias="ObjectSourceManagerFactoryConcrete" type="Framework.Data.Repository.EF.Context.ObjectSourceManagerFactory, Framework.Data"/>
            <typeAlias alias="WebUnitOfWorkInterface" type="Framework.Data.Repository.IUnitOfWork, Framework.Data"/>
            <typeAlias alias="WebUnitOfWorkConcrete" type="Framework.Data.WebIntegration.WebUnitOfWork, Framework.Data.WebIntegration"/>
            <typeAlias alias="EntityValidatorInterface" type="Framework.Data.Repository.IEntityValidator, Framework.Data"/>
            <typeAlias alias="EntityValidatorConcrete" type="Framework.Data.Validation.EntityValidator, Framework.Data.Validation"/>
        </typeAliases>
        <containers>
            <container>
                <types>
                    <!--Type mapping here.-->
                    <register type="EmployeeRepositoryInterface" mapTo="EmployeeRepositoryConcrete" name="EmployeeRepository"/>
                    <register type="PersonRepositoryInterface" mapTo="PersonRepositoryConcrete" name="PersonRepository"/>                    
                    <register type="UnitOfWorkFactoryInterface" mapTo="UnitOfWorkFactoryConcrete" name="UnitOfWorkFactory"/>
                    <register type="ObjectSourceManagerFactoryInterface" mapTo="ObjectSourceManagerFactoryConcrete" name="ObjectSourceManagerFactory"/>
                    <register type="WebUnitOfWorkInterface" mapTo="WebUnitOfWorkConcrete" name="UnitOfWork"/>
                    <register type="EntityValidatorInterface" mapTo="EntityValidatorConcrete" name="EntityValidator"/>
                </types>
            </container>
        </containers>
    </unity>
    <!-- specifies the core and local services to be started when the workflow runtime starts -->    
    <connectionStrings>
        <add name="AdventureWorks2008R2Entities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=0.0.0.0;Initial Catalog=AdventureWorks2008R2;User ID=sa;Password=blank;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>    
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
</configuration>
