<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Framework.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- type alias for registered type and requested/target type mapping for Scope Lifetime Manager-->
    <alias alias="LifetimeManagerInterface" type="Framework.Data.Repository.ObjectSourceManager`1[[System.Data.Objects.ObjectContext, System.Data.Entity]], Framework.Data" />
    <alias alias="LifetimeManagerConcrete" type="Framework.Data.Repository.EF.ScopeObjectSourceManager`1[[System.Data.Objects.ObjectContext, System.Data.Entity]], Framework.Data" />
    <!-- type alias for registered type and requested/target type mapping for ObjectContext-->
    <alias alias="ObjectSourceInterface" type="System.Data.Objects.ObjectContext, System.Data.Entity" />
    <alias alias="ObjectSourceConcrete" type="ChildSupport.DataModel.AdventureWorks2008R2Entities, ChildSupport.DataModel" />
    <!-- type alias for registered type and requested/target type mapping for UnitOfWorkFactory-->
    <alias alias="UnitOfWorkFactoryInterface" type="Framework.Data.Repository.IUnitOfWorkFactory, Framework.Data" />
    <alias alias="UnitOfWorkFactoryConcrete" type="Framework.Data.Repository.EF.UnitOfWorkFactory, Framework.Data" />
    <container>
      <!--Type mapping here.-->
      <register type="LifetimeManagerInterface" mapTo="LifetimeManagerConcrete" name="LifetimeManager" />
      <register type="ObjectSourceInterface" mapTo="ObjectSourceConcrete" name="ObjectSource" />
      <register type="UnitOfWorkFactoryInterface" mapTo="UnitOfWorkFactoryConcrete" name="UnitOfWorkFactory" />
    </container>
  </unity>
  <applicationSettings>
    <Framework.Data.Properties.Settings>
      <setting name="UseRepositoryWebUnitOfWork" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReferenceTableDatabaseName" serializeAs="String">
        <value>ReferenceTables</value>
      </setting>
      <setting name="ObjectSourceManagerType" serializeAs="String">
        <value>1</value>
      </setting>
    </Framework.Data.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ReferenceTables" connectionString="metadata=res://*/ReferenceTables.Persistence.ReferenceTables.csdl|res://*/ReferenceTables.Persistence.ReferenceTables.ssdl|res://*/ReferenceTables.Persistence.ReferenceTables.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Framework.Data.Test.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>